<div>
    <h2>Template-driven Form</h2>
    <form #templateForm="ngForm" (ngSubmit)="onTemplateFormSubmit(templateForm)">
        <label>
            Name:
            <input type="text" name="name" placeholder="Your name" ngModel required>
        </label>
        <br>
        <label>
            Email:
            <input type="email" name="email" placeholder="Your email" ngModel required>
        </label>
        <br>
        <label>
            Message:
            <input type="text" name="message" placeholder="Your message" ngModel required></label>
        <br>
        <button type="submit">Submit</button>
    </form>

    <br>
    -------------------------------------------------

    <h2>Another exaple of Template-driven Form</h2>
    <br>
    <form #srikanthForm="ngForm" (ngSubmit)="submitForm(srikanthForm)">
        <label>
            Name:
            <input type="text" name="name" ngModel required>
        </label>
        <label>
            Area:
            <input type="text" name="area" ngModel required>
        </label>
        <label>
            Message:
            <input type="text" name="message" ngModel required>
        </label>
        <button>Submit</button>
    </form>

    <span *ngIf="formData">
        <app-display-data [childData]="formData"></app-display-data>
    </span>
    
    <!-- <br>
    <h2>Reactive Forms</h2>
    <br>
    <form [formGroup]="reactiveForm" (ngSubmit)="onReactiveFormSubmit(reactiveForm)">
        <label>
            Name:
            <input formControlName="name" placeholder="Your name" required>
        </label>
        <br>
        <label>
            Email:
            <input formControlName="email" placeholder="Your email" required>
        </label>
        <br>
        <label>
            Message:
            <input formControlName="message" placeholder="Your message" required>
        </label>
        <br>
        <button type="submit">Submit</button>
    </form> -->

</div>