<div>
    <h2>Template-driven Form</h2>
    <br>
    <form #tdForm="ngForm">
        <label>
            Name:
            <input type="text" name="name" ngModel required>
        </label><br>
        <span style="color: red; font-size: 13px;" *ngIf="tdForm.form.controls['name'].touched && !tdForm.form.controls['name'].valid">Name field is required</span>
        <br>
        <label>
            Area:
            <input type="text" name="area" ngModel required>
        </label><br>
        <span style="color: red; font-size: 13px;" *ngIf="tdForm.form.controls['area'].touched && !tdForm.form.controls['area'].valid">Area field is required</span>
        <br>
        <label>
            Message:
            <input type="text" name="message" ngModel required>
        </label><br>
        <span style="color: red; font-size: 13px;" *ngIf="tdForm.form.controls['message'].touched && !tdForm.form.controls['message'].valid">Message field is required</span>
        <br>
        <button type="submit" [disabled]="!tdForm.valid" (click)="submitForm(tdForm)">Submit</button>
    </form>
    
    <br>
    <h2>Reactive Forms</h2>
    <br>
    <form [formGroup]="reactiveBuilderForm">
        <label>
            Name:
            <input formControlName="name" placeholder="Your name">
        </label>
        <br>
        <label>
            Email:
            <input formControlName="email" placeholder="Your email">
        </label>
        <br>
        <label>
            Message:
            <input formControlName="message" placeholder="Your message">
        </label><br>
        <label>
            other:
            <input formControlName="other" placeholder="Your message">
        </label>
        <br>
        <button type="submit" (click)="onReactiveFormSubmit()">Submit</button>
    </form>


    
    <span *ngIf="formData">
        <app-display-data [childData]="formData"></app-display-data>
    </span>

</div>